*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-clr: #000;

}

body {
    background-color: var(--black-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    width: 12.5rem;
    height: 18.75rem;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blurred-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1698952193523-927c76a65488?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDYxfHx8ZW58MHx8fHx8");
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: 1;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    -webkit-mask-image: linear-gradient( 
        to top,
        rgba(0, 0, 0, 1)
        rgba(0, 0, 0, 0)
    );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat; 
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFF;
    z-index: 2;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

p {
    font-size: 12px;
    color: #ddd;
    line-height: 1.4;
}

.main-container > input[type="text"] {
    margin-bottom: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #1a1a1a9b;
    padding: 1rem;
    color: #ddd;
    box-shadow: 0 0 20px #058fff4f;
}